@using OnlineShop.Data.Models
@using OnlineShop.Controllers
@using OnlineShop.Models.Product
@model ProductModel

@{
    var id = Model.Product.Id;
    var quantity = 1;
}

<form class="container mt-5"
    asp-controller="@UsersController.Name"
    asp-action="@nameof(UsersController.AddToCart)">
    <input value="@Model.Product.Id" asp-for="@id" hidden>
    <h1 class="mb-4">@Model.Product.Name</h1>
    <div class="card">
        <div class="card-body">
            <p class="card-text"><strong>Product ID: </strong>@Model.Product.Id</p>
            <p class="card-text"><strong>Quantity: </strong>@Model.Product.Quantity</p>
            <p class="card-text"><strong>Cost: </strong>@Model.Product.Cost.ToString("C")</p>
            <p class="card-text"><strong>Discount: </strong>@Model.Product.Discount%</p>
            <p class="card-text"><strong>Details: </strong>@Model.Product.Details</p>
            <p class="card-text"><strong>Category: </strong>@(Model.Product.Category?.Label ?? "N/A")</p>
            <p class="card-text"><strong>Created At: </strong>@Model.Product.CreatedAt.ToString("g")</p>
            <p class="card-text">
                <strong>Selected Quantity (<strong id="quantity-value">1</strong>): </strong>
                <input class="form-range" type="range"
                    value="@quantity" oninput="quantityChange(this.value)"
                    min="1" max="@Model.Product.Quantity"
                    id="quantity" asp-for="@quantity"
                    disabled="@(Model.Product.Quantity == 0)">
            </p>
        </div>
    </div>

    @if (Model.Product.Quantity != 0 && Model.InCart is not null)
    {
        @if (Model.InCart == false)
        {
        <button class="btn btn-success mt-3"
            type="submit"
        >Add To Cart</button>
        }
        else
        {
        <a class="btn btn-danger mt-3"
            asp-controller="@UsersController.Name"
            asp-action="@nameof(UsersController.RemoveFromCart)"
            asp-route-id="@Model.Product.Id"
        >Remove From Cart</a>
        }
    }
    <a class="btn btn-primary mt-3"
        asp-controller="@ProductsController.Name"
        asp-action="@nameof(ProductsController.Index)"
    >Back to Products</a>
</form>

<script>
    const quantityValue = document.getElementById("quantity-value");

    function quantityChange(value) {
        quantityValue.innerText = value;
    }
</script>
